.nav
  padding: $padding $padding $padding 0
  background-color: $white
  scroll-behavior: smooth

  &.has-icons .nav-submenu
    padding: 0.75em 0.75em 0.75em 2.2em

.nav-label
  margin: 1em 0
  padding: 0.75em 1em
  color: $black
  font-weight: $font-weight-bold
  font-size: $font-size[2]

.nav-menu,
.nav-submenu
  margin: $margin 0
  list-style: none
  padding-{$dir-start}: 0

.nav-submenu
  display: none
  padding: 0.75em

  .nav-link
    padding: 0.5em 0.75em
    border-radius: 0

    &.is-active
      border-style: solid
      border-color: $primary
      color: $primary
      border-{$dir-start}-width: 2px

.nav-wrapper
  overflow: hidden

.nav-link,
.nav-toggle
  position: relative
  display: flex
  display: block
  align-items: center
  padding: 0.75em 1em
  width: 100%
  border: 0
  border-radius: $border-radius
  border-radius: 0 50px 50px 0
  background: transparent
  color: $black
  text-align: $dir-start
  cursor: pointer

  @extends $normal

  &:focus,
  &.is-active
    outline: none
    background-color: $white
    color: $primary
    fill: $primary

  &:hover
    color: $primary
    fill: $primary

  .icon
    margin-{$dir-end}: $margin

.nav-icon
  position: absolute
  top: 50%
  display: flex
  align-items: center
  width: 15px
  height: 15px
  transform: translateY(-50%)
  pointer-events: none
  {$dir-end}: 10px

  &:after,
  &:before
    display: block
    width: 7.5px
    height: 2px
    background: $gray
    content: ''
    transition: transform 0.2s ease-in-out

  &:after
    transform: rotate(-45deg)
    margin-{$dir-start}: -1.75px

  &:before
    transform: rotate(45deg)
    margin-{$dir-end}: -1.75px

  .nav-item.is-active &
    &:after
      background: $primary
      transform: rotate(45deg)

    &:before
      background: $primary
      transform: rotate(-45deg)

.nav-item
  margin-top: 0
  list-style: none

  &.is-active
    .nav-submenu
      display: block

    .nav-toggle
      box-shadow: boxShadow(small)
      color: $primary
      font-weight: $font-weight-medium
