<template lang="pug">
AppDashboard
  .dashboard-header
    h1.page-title Brands
    .dashboard-control
      button.button.is-primary(
        @click="showBrandModal"
      )
        AppIcon(name="add")
        span Add new brand

  div.empty-data(v-if="!isLoading && !clients.length")
    img(class="empty-data-img" src="/img/no-data.svg")
    span.empty-data-title There's no brands

  table.table(v-else)
    thead
      tr
        th #
        th Client
        th Email
        th Channels 
    tbody(v-if="isLoading")
      tr(v-for="n in 3")
        td: .text-loader
        td: .text-loader
        td: .text-loader
        td: .text-loader

    tbody(v-else)
      tr(v-for="(client, index) in clients")
        td {{ index + 1 }}
        td {{ client.name }}
        td {{ client.email }}
        td {{ client.social_accounts.map(({account_type}) => account_type).join(', ') }}

  AppModal(ref="brandModal")
    template(v-slot:title)
      | Add new brand
    .row: .column.is-12
      form.form
        .field
          input(id="nameFeild"
            type="text"
            v-model="data.name"
            placeholder="Name"
            class="input"
            autocomplete="off"
          )
        .field
          input(id="usernameFeild"
            type="text"
            v-model="data.email"
            placeholder="Email"
            class="input"
            autocomplete="off"
          )
    template(v-slot:footer)
      button.button(
        class="is-primary"
        @click="sendInvitation"
      )
        | Send invitation
</template>

<script>
import { $fetch } from '../utils';

export default {
  name: 'Dashboard',
  data() {
    return {
      isLoading: true,
      data: {
        name: undefined,
        email: undefined
      },
      clients: []
    };
  },
  methods: {
    showBrandModal() {
      this.$refs.brandModal.show();
    },
    sendInvitation() {
      return (
        $fetch({
          path: 'brands',
          method: 'post',
          body: this.data,
          token: this.$store.state.user.token
        })
          .then(response => {
            this.updateBrands();
            this.$refs.brandModal.dismiss();
            this.data.name = undefined;
            this.data.email = undefined;
            return response;
          })
          // TODO: Handle this error
          .catch(async response => {
            let errors;
            const body = await response.json();
            if (body.errors) {
              errors = Object.entries(body.errors)
                .map(([key, value]) => `${key}: ${value}`)
                .join('\n');
            }
            this.$store.dispatch('notify', {
              type: 'error',
              title: body.message,
              body: errors
            });
          })
      );
    },
    updateBrands() {
      this.isLoading = true;
      return $fetch({
        path: 'brands',
        method: 'get',
        token: this.$store.state.user.token
      })
        .then(response => response.json())
        .then(response => {
          this.clients = response;
          this.isLoading = false;
        })
        .catch(response => {
          this.isLoading = false;
        });
    }
  },
  mounted() {
    return this.updateBrands();
  }
};
</script>


<style lang="stylus">
.empty-data
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 50px

.empty-data-img
  margin-bottom: 20px
  max-width: 300px

.empty-data-title
  text-align-center
</style>
