<template lang="pug">
.channels
  .modal
    .modal-header
      .modal-title
        h4 Give access to your social channels
    .modal-body
      .grid
        .row
          .column.is-2
            AppIcon(name="instagram")
          .column.is-10(v-if="!activeChannels.includes('instagram')")
            button.button.is-block(@click="activate('instagram')") Activate
          template(v-else)
            .column.is-5
              input(
                v-model="feilds.instagram.username"
                id="twitterUsername"
                type="text"
                placeholder="username"
                class="input"
              )
            .column.is-5
              input(
                v-model="feilds.instagram.password"
                id="twitterPassword"
                type="password"
                placeholder="password"
                class="input"
              )

        .row
          .column.is-2
            AppIcon(name="facebook")
          .column.is-10(v-if="!activeChannels.includes('facebook')")
            button.button.is-block(@click="activate('facebook')") Activate
          template(v-else)
            .column.is-5
              input(
                v-model="feilds.facebook.username"
                id="twitterUsername"
                type="text"
                placeholder="username"
                class="input"
              )
            .column.is-5
              input(
                v-model="feilds.facebook.password"
                id="twitterPassword"
                type="password"
                placeholder="password"
                class="input"
              )
        
        .row
          .column.is-2
            AppIcon(name="twitter")
          .column.is-10(v-if="!activeChannels.includes('twitter')")
            button.button.is-block(@click="activate('twitter')") Activate
          template(v-else)
            .column.is-5
              input(
                v-model="feilds.twitter.username"
                id="twitterUsername"
                type="text"
                placeholder="username"
                class="input"
              )
            .column.is-5
              input(
                v-model="feilds.twitter.password"
                id="twitterPassword"
                type="password"
                placeholder="password"
                class="input"
              )

    .modal-footer
      button.button.is-primary(
        @click="submit"
      ) Submit
</template>

<script>
import { $fetch } from '../utils';

export default {
  name: 'Client',
  data() {
    return {
      feilds: {
        instagram: {
          username: undefined,
          password: undefined
        },
        facebook: {
          username: undefined,
          password: undefined
        },
        twitter: {
          username: undefined,
          password: undefined
        }
      },
      hash: '',
      activeChannels: []
    };
  },
  methods: {
    activate(name) {
      this.activeChannels.push(name);
    },
    submit() {
      this.activeChannels.forEach(channel => {
        $fetch({
          path: 'brands/accounts',
          method: 'post',
          body: {
            account_type: channel,
            username: this.feilds[channel].username,
            password: this.feilds[channel].password,
            hash: this.hash
          }
        })
          .then(response => {
            this.$store.dispatch('notify', {
              type: 'success',
              title: 'Account linked succfully'
            });
          })
          .catch(response => {
            this.$store.dispatch('notify', {
              type: 'error',
              title: 'Cannot link social accounts'
            });
          });
      });
    }
  },
  created() {
    const urlParams = new URLSearchParams(window.location.search);
    this.hash = decodeURIComponent(urlParams.get('hash'));

    // check if the hash is valide
    $fetch({
      path: 'brands/checkHash',
      method: 'post',
      body: { hash: this.hash }
    }).catch(response => {
      this.$store.dispatch('notify', {
        type: 'error',
        title: 'Invalide hash'
      });
      this.$router.push('/');
    });
  }
};
</script>

<style lang="stylus">
.channels
  display: flex
  justify-content: center
  align-items: center
  padding: 50px 10px
  min-height: 100vh
  background-color: $dark

  .icon
    width: 1.2em
    height: 1.2em
    font-size: 26px

  .row:not(:last-child)
    margin-bottom: 20px
</style>
