<template lang="pug">
AppDashboard
  h1.page-title Dashboard
  .grid
    .column.is-4
      AppCard
        template(v-slot:header)
          AppIcon(name="user")
          span Clients
        strong.dashbaord-number 10
    .column.is-4
      AppCard
        template(v-slot:header)
          AppIcon(name="user")
          span Channels
        strong.dashbaord-number 25
    .column.is-6
      AppCard
        template(v-slot:header)
          AppIcon(name="user")
          span Chart
        canvas(ref="chart")

</template>

<script>
import Chart from 'chart.js';

export default {
  name: 'Dashboard',
  data() {
    return {};
  },
  mounted() {
    const ctx = this.$refs.chart.getContext('2d');
    const colors = {
      red: 'rgb(255, 99, 132)',
      cyan: '#00acee',
      blue: '#3b5998'
    };
    const datasets = [
      {
        label: 'Facebook',
        borderColor: colors.blue,
        data: [{ x: 0, y: 48 }, { x: 320, y: 48 }, { x: 2560, y: 128 }, { x: 3000, y: 128 }]
      },
      {
        label: 'Instagram',
        borderColor: colors.red,
        data: [{ x: 0, y: 40 }, { x: 320, y: 40 }, { x: 2560, y: 96 }, { x: 3000, y: 96 }]
      },
      {
        label: 'Twitter',
        borderColor: colors.cyan,
        data: [{ x: 0, y: 32 }, { x: 320, y: 32 }, { x: 2560, y: 72 }, { x: 3000, y: 72 }]
      }
    ];
    const myChart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: datasets
      },

      options: {
        title: {
          display: true,
          text: 'Users growth'
        },
        scales: {
          yAxes: [
            {
              id: 'font size'
            }
          ],
          xAxes: [
            {
              id: 'viewport width',
              type: 'linear',
              position: 'bottom'
            }
          ]
        }
      }
    });
  }
};
</script>

<style lang="stylus">
.dashbaord-number
  display: block
  width: 100%
  text-align: center
  font-size: 50px
  line-height: 2em
</style>
