<template lang="pug">
.home
  .home-wrapper
    .home-info
      h2.home-title
        | With Avokado
        <br>
        | Pay Less, Do More
      p.home-subtitle
        | Manage multiple clients from one dashboard, Save time and Eliminate stress, Tailored for Small Agencies & Professionals.
      RouterLink.button(
        to="/dashboard"
        v-if="isLogedin"
        class='is-primary'
      ) Dashbaord
      button.button(
        v-else
        @click="loginModalVisiable = true"
        class='is-primary'
      ) Become a Partner

    .home-image
      img(src='/img/marketing.svg')

  AppLogin(
    v-if="loginModalVisiable"
    @dismiss="loginModalVisiable = false"
  )
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  data() {
    return {
      loginModalVisiable: false
    };
  },
  computed: {
    isLogedin() {
      return !!this.$store.state.user;
    }
  }
};
</script>

<style lang="stylus">
.home-wrapper
  display: flex
  justify-content: center
  align-items: center
  padding: 50px 100px
  min-height: 100vh
  width: 100vw
  background-image: linear-gradient(40deg, alpha($dark, 98%), $dark), url('/img/laptop.jpg')
  background-clip: value
  background-size: cover
  background-repeat: no-repeat
  color: $white

.home-image
  img
    display: block
    margin: auto
    max-width: 400px
    width: 100%

.home-image,
.home-info
  flex: 1 0 0
  padding: 10px

.home-title
  font-size: 50px

.home-subtitle
  font-size: 20px
</style>

