<template lang="pug">
AppDashboard
  .dashboard-header
    h1.page-title Posts
    .dashboard-control
      Multiselect(
        :options="clients"
        placeholder="Select client"
        track-by="name",
        label="name",
        v-model="selectedClient"
      )
      button.button.is-primary(
        @click="addingNewPost = true"
      )
        AppIcon(name="add")
        span Add new post

  .posts-wrapper
    transition(name="fade")
      .post(v-if="addingNewPost")
        .post-time
          input(
            class="input is-tiny"
            placeholder="yyyyy-mm-dd"
            v-model="newPost.date_to_post"
          )
          input(
            class="input is-tiny"
            placeholder="hh:mm:ss"
            v-model="newPost.time_to_post"
          )
        .post-image
          label.file.is-large
            input(type="file" class="file-input" @change="handleFileUploade")
            span.file-icon
              AppIcon(name="upload")
            span.file-label Click here to uplaod image...
        .post-info
          textarea(
            name="postInfo"
            id="postInfo"
            class="textarea"
            rows="8"
            v-model="newPost.body"
          )

        .post-footer
          div.post-social
            label(for="twitter")
              input(id="twitter" type="checkbox")
              AppIcon(name="twitter")
            label(for="facebook")
              input(id="facebook" type="checkbox")
              AppIcon(name="facebook")
            label(for="instagram")
              input(id="instagram" type="checkbox")
              AppIcon(name="instagram")
          .grid
            .column.is-6
              button.button(
                class="is-success is-block"
                @click="addNewPost"
              )
                span Add post
            .column.is-6
              button.button(
                class="is-danger  is-block is-outlined"
                @click="addingNewPost = false"
              )
                span Cancel
    Post(v-for="(post, indx) in posts" :post="post" :key="indx")

</template>

<script>
import Post from '@/components/Post.vue';
import Multiselect from 'vue-multiselect';
import { $fetch } from '../utils';

export default {
  name: 'Dashboard',
  data() {
    return {
      addingNewPost: false,
      newPost: {
        file: undefined,
        body: undefined,
        date_to_post: undefined,
        time_to_post: undefined
      },
      posts: [{}, {}],
      clients: [],
      selectedClient: ''
    };
  },
  watch: {
    selectedClient(val) {
      this.getPosts(val.id);
    }
  },
  components: {
    Post,
    Multiselect
  },
  methods: {
    async addNewPost() {
      // TODO: Add new post
      const data = new FormData();
      const socialList = await $fetch({
        path: `brands/${this.selectedClient.id}/accounts`,
        method: 'get',
        token: this.$store.state.user.token
      }).then(res => res.json());
      const id = Object.keys(socialList).find(key => socialList[key] === 'instagram');
      data.append('file', this.newPost.file);
      data.append('body', this.newPost.body);
      data.append('date_to_post', this.newPost.date_to_post);
      data.append('time_to_post', this.newPost.time_to_post);
      data.append('social_media_account_id', id);
      return fetch(`${process.env.VUE_APP_API_URL}/posts/post-media`, {
        method: 'post',
        headers: {
          Authorization: `Bearer ${this.$store.state.user.token}`
        },
        body: data
      });
    },
    handleFileUploade(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.newPost.file = files[0];
    },
    updateBrands() {
      this.isLoading = true;
      return $fetch({
        path: 'brands',
        method: 'get',
        token: this.$store.state.user.token
      })
        .then(response => response.json())
        .then(response => {
          this.clients = response;
          this.isLoading = false;
        })
        .catch(response => {
          this.isLoading = false;
        });
    },
    async getPosts(id) {
      this.posts = await $fetch({
        path: `posts/account-id/${id}`,
        method: 'get',
        token: this.$store.state.user.token
      }).then(res => res.json()).then(({items}) => items);
    }
  },
  async mounted() {
    return this.updateBrands();
  }
};
</script>

<style lang="stylus">
.posts-wrapper
  margin: auto
  padding: 20px 0
  width: 500px
  border-left: 2px solid $gray

.post-social
  display: flex
  justify-content: space-evenly
  margin-bottom: 10px

  input
    display: none

  .icon
    width: 30px
    height: 30px
    fill: $slategray

  input:checked
    &:after
      width: 10px
      height: 7px
      border-width: 0 0 1px 1px
      border-style: solid
      border-color: $green

    + .icon
      fill: $dark

.posts-wrapper
  margin: auto
  padding: 20px 0
  width: 500px
  border-left: 2px solid $gray
</style>

