<template lang="pug">
AppDashboard
  h1.page-title Settings
  .row
    .column.is-12.is-desktop-6
      form.form
        .field
          input(id="nameFeild"
            type="text"
            v-model="user.name"
            placeholder="Name"
            class="input"
            autocomplete="off"
          )
        .field
          input(
            id="passwordFeild"
            type="password"
            v-model="user.password"
            placeholder="Password"
            class="input"
          )
    .column.is-12
      button.button.is-primary Save

  h2.page-title Subscription
  .grid
    .column.is-12.is-desktop-6
      Multiselect(
        :options="plans"
        placeholder="Select subscription plan"
        v-model="selectedPlan"
      )
    .column.is-12
      button.button.is-primary(
        @click="updateSubscription"
      ) Update


</template>

<script>
import Multiselect from 'vue-multiselect';
import { $fetch } from '../utils';

export default {
  name: 'Settings',
  data() {
    return {
      user: {
        username: '',
        name: '',
        email: '',
        password: ''
      },
      plans: ['free', 'professional', 'premium'],
      selectedPlan: ''
    };
  },
  components: {
    Multiselect
  },
  methods: {
    updateSubscription() {
      $fetch({
        path: 'subscriptions',
        method: 'post',
        body: {
          plan: this.selectedPlan
        },
        token: this.$store.state.user.token
      })
        .then(response => {
          this.$store.dispatch('notify', {
            type: 'success',
            title: 'Updated successfully'
          });
        })
        .catch(err => {
          this.$store.dispatch('notify', {
            type: 'error',
            title: 'Faild to update'
          });
        });
    }
  },
  mounted() {
    this.user = Object.assign({}, this.$store.state.user.user);
    $fetch({
      path: 'subscriptions',
      method: 'get',
      token: this.$store.state.user.token
    })
      .then(response => response.json())
      .then(response => {
        this.selectedPlan = response.subscription_type;
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>

<style lang="stylus"></style>
