<template lang="pug">
.card
  .card-header(v-if="$slots.header")
    slot(name="header")
  slot
</template>

<script>
export default {
  name: 'AppCard'
};
</script>

<style lang="stylus">
.card
  margin-bottom: 20px
  padding: 20px
  width: 100%
  border-radius: 8px
  background-color: $white
  box-shadow: 0 0 25px alpha($dark, 0.1)

.card-header
  margin-bottom: 20px
</style>

