<template lang="pug">
.dashboard
  .dashboard-sidebar
    .sidebar-brand
      | Avokado
    nav.nav.has-icons
      ul.nav-menu
        li.nav-item
          RouterLink.nav-link(to="/dashboard")
            AppIcon(name="dashboard" size="large")
            span Dashboard
        li.nav-item
          RouterLink.nav-link(to="/brands")
            AppIcon(name="user" size="large")
            span Brands
        li.nav-item
          RouterLink.nav-link(to="/posts")
            AppIcon(name="image")
            span Posts
        li.nav-item
          RouterLink.nav-link(to="/settings")
            AppIcon(name="settings")
            span Settings
        li.nav-item
          a.nav-link(@click="logout")
            AppIcon(name="logout")
            span Logout
  main.dashboard-main
    slot
</template>

<script>
export default {
  name: 'AppDashboard',
  methods: {
    logout() {
      this.$store.dispatch('logout').then(() => {
        this.$router.push('/');
      });
    }
  }
};
</script>

<style lang="stylus">
.dashboard-sidebar
  position: fixed
  top: 0
  bottom: 0
  left: 0
  z-index: 10
  display: block
  width: 240px
  background-color: $light

  .nav
    background-color: transparent

.dashboard-header
  display: flex
  margin-bottom: 30px

  .page-title
    margin-bottom: 0

.dashboard-control
  display: flex

  .button
    margin-left: 10px

.nav-item .icon
  width: 1.7em
  height: 1.7em

.dashboard-main
  margin-left: 240px
  padding: 40px

.sidebar-brand
  padding: 20px 0 0
  text-align: center
  font-size: 30px

.page-title
  flex: 1
  margin-bottom: 70px
  font-size: 30px
</style>
