<template lang="pug">
.modal-container(
  @click.self="dismiss"
)
  .modal
    button.modal-dismiss(
      @click="dismiss"
    )
      app-icon(name="close")
    .modal-header
      .modal-title
        template(v-if="isLogin")
          | Login
        template(v-else)
          | Create new agency

    .modal-body
      .grid
        .row
          .column.is-12
            form.form(
              @keyup.enter="handleKeypress"
            )
              transition-group(name="fading")
                .field(key="3")
                  input(id="usernameFeild"
                    type="text"
                    v-model="data.username"
                    placeholder="Username"
                    class="input"
                    autocomplete="off"
                  )
                .field(key="4")
                  input(
                    id="passwordFeild"
                    type="password"
                    v-model="data.password"
                    placeholder="Password"
                    class="input"
                  )
                .field(key="1" v-if="!isLogin")
                  input(id="nameFeild"
                    type="text"
                    v-model="data.name"
                    placeholder="Name"
                    class="input"
                    autocomplete="off"
                  )
                .field(key="2" v-if="!isLogin")
                  input(id="emailFeild"
                    type="email"
                    v-model="data.email"
                    placeholder="Email"
                    class="input"
                    autocomplete="off"
                  )
        .row
          .column.is-12
            button.button.is-link(@click="toggleForms")
              template(v-if="isLogin")
                | Don not have an agency?
              template(v-else)
                | Already have an agency?
    .modal-footer
      transition(name="fade" mode="out-in")
        button.button(
          class="is-success"
          @click="login"
          v-if="isLogin"
        ) Login
        a.button(
          class="is-success"
          @click.prevent="register"
          v-else
        ) Register

</template>

<script>
export default {
  name: 'AppLogin',
  data() {
    return {
      isLogin: false,
      data: {
        username: undefined,
        password: undefined,
        name: undefined,
        email: undefined
      }
    };
  },
  methods: {
    toggleForms() {
      this.isLogin = !this.isLogin;
    },
    login() {
      return this.$store
        .dispatch('user', { action: 'login', body: this.data })
        .then(response => {
          if (!response.token) throw response;
          this.$router.push('/dashboard');
        })
        .catch(() => {
          this.$store.dispatch('notify', {
            type: 'error',
            title: 'Username or password is wrong'
          });
        });
    },
    register() {
      return this.$store
        .dispatch('user', { action: 'register', body: this.data })
        .then(response => {
          if (!response.token) throw response;
          this.$router.push('/dashboard');
        })
        .catch(async err => {
          const body = await err.json();
          const errors = Object.entries(body.errors)
            .map(([key, value]) => `${key}: ${value}`)
            .join('\n');
          this.$store.dispatch('notify', {
            type: 'error',
            title: 'Faild to create your account',
            body: errors
          });
        });
    },
    handleKeypress() {
      if (this.isLogin) {
        this.login();
        return;
      }
      this.register();
    },
    dismiss() {
      this.$emit('dismiss');
    }
  }
};
</script>

<style lang="stylus">
.field
  transition: all 1s

.fading-enter,
.fading-leave-to
  height: 0
  opacity: 0
  transform: translateY(100%)

.fading-leave-active
  .input
    position: absolute

.fade-enter-active,
.fade-leave-active
  transition: all 0.5s

.fade-leave-to,
.fade-enter
  opacity: 0
</style>
