<template lang="pug">
.modal-container(
  @click.self="dismiss"
  v-show="isVisable"
)
  .modal
    button.modal-dismiss(
      @click="dismiss"
    )
      app-icon(name="close")
    .modal-header
      .modal-title
        slot(name="title")

    .modal-body
      slot(name="body")
      slot

    .modal-footer
      slot(name="footer")

</template>

<script>
export default {
  name: 'AppModal',
  data() {
    return {
      isVisable: false
    };
  },
  methods: {
    show() {
      this.isVisable = true;
    },
    dismiss() {
      this.isVisable = false;
    }
  }
};
</script>

<style lang="stylus">
.modal-footer
  flex-direction: row-reverse
</style>
