<template lang="pug">
.notifier
  Notify(
    v-for="(notfiy, indx) in notifications"
    :notify="notfiy"
    :key="notfiy.id"
    @remove="remove(indx)"
  )
</template>


<script>
import Notify from './Notify';

export default {
  name: 'AppNotifier',
  data() {
    return {
      notifications: this.$store.state.notifications
    };
  },
  components: {
    Notify
  },
  methods: {
    remove(indx) {
      setTimeout(() => {
        this.$store.dispatch('removeNotify', indx);
      }, 400);
    }
  }
};
</script>

<style lang="stylus">
.notifier
  position: fixed
  top: 0
  right: 0
  z-index: 99999
  padding: 5px
  width: auto
  height: auto

  .rtls &
    right: initial
    left: 0
</style>
