<template lang="pug">
.notify(:class="[`is-${notify.type}`, { 'is-dismissed': isDismissed }]")
  .notify-info
    h2.notify-title(v-if="notify.title")
      | {{ notify.title }}

    p.notify-body(v-if="notify.body")
      | {{ notify.body }}

    button.notify-button(
      v-if="notify.button"
      v-on="{ click: notify.onClick }"
      @click="dismiss"
    ) {{ notify.button }}

  button.notify-dismiss(@click="dismiss")
    AppIcon(name="close")
</template>

<script>
export default {
  name: 'Notify',
  props: {
    notify: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      isDismissed: false
    };
  },
  methods: {
    dismiss() {
      clearTimeout(this.timeOut);
      this.isDismissed = true;
      this.$emit('remove', this.notify);
    }
  },
  mounted() {
    if (this.notify.timer) {
      this.timeOut = setTimeout(this.dismiss, this.notify.timer);
    }
  }
};
</script>

<style lang="stylus">
.notify
  position: relative
  display: flex
  justify-content: space-between
  align-items: flex-start
  margin: 5px
  padding: 14px
  width: 350px
  border-radius: 8px
  opacity: 1
  transition: 0.4s cubic-bezier(0.42, 0, 0.48, 1.21)
  animation: slideInFromRight 0.4s cubic-bezier(0.42, 0, 0.48, 1.21)

  .rtls &
    animation: slideInFromLeft 0.4s cubic-bezier(0.42, 0, 0.48, 1.21)

  &.is-dismissed
    opacity: 0
    transform: scale(1.05)

  &.is-success
    background-color: alpha($green, 95%)
    color: $white

  &.is-error
    background-color: alpha($red, 95%)
    color: $white

  &.is-info
    background-color: alpha($cyan, 95%)
    color: $white

  &.is-warning
    background-color: alpha($yellow, 95%)
    color: $black

.notify-info
  display: flex
  flex-direction: column
  align-items: flex-start

.notify-button
  margin-top: 7px
  padding: 5px 15px
  border: 0
  border-radius: 8px
  background: $white
  color: $dark

.notify-body
  margin-bottom: 0
  white-space: pre-wrap

.notify-title
  margin-bottom: 7px
  font-weight: bold
  font-size: 18px

.notify-dismiss
  display: flex
  display: block
  flex-grow: 0
  flex-shrink: 0
  justify-content: center
  align-items: center
  padding: 0
  width: 20px
  height: 20px
  outline: none
  border: none
  border-radius: 20px
  background-color: alpha($black, 10%)
  font-size: 1rem
  cursor: pointer
  transition: 0.5s
  fill: $white

  &:hover
    background-color: alpha($black, 50%)

@keyframes slideInFromRight
  from
    transform: translateX(100%)

  to
    transform: translateX(0)

@keyframes slideInFromLeft
  from
    transform: translateX(-100%)

  to
    transform: translateX(0)
</style>

