<template lang="pug">
.post
  span.post-time July 14, 2019, 1:03 PM
  .post-image
    img(:src="post.image || '/img/laptop.jpg'")
  .post-info
    p An awesome post, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, quis quo repudiandae aliquam accusantium mollitia eius.
  .post-footer
    button.button(
      class="is-danger"
      @click="deletePost"
    )
      AppIcon(name="delete")
      span Delete post
</template>

<script>
export default {
  name: 'Post',
  props: {
    post: {
      type: Object
    }
  },
  computed: {
    isPosted() {
      return this.post.posted;
    }
  },
  methods: {
    deletePost() {
      this.$emit('delete', this.post);
    }
  }
};
</script>


<style lang="stylus">
.post
  position: relative
  display: flex
  flex-direction: column
  flex-wrap: wrap
  margin: 0 100px 50px
  padding: 20px
  max-width: 350px
  border-radius: 8px
  background-color: $white
  box-shadow: 0 0 25px alpha($dark, 0.1)

  &:before
    position: absolute
    top: calc(50%)
    left: -100px
    display: block
    width: 100px
    height: 2px
    background-color: $gray
    content: ''
    transform: translateY(-50%)

  &:after
    position: absolute
    top: 50%
    left: -105px
    display: block
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: $green
    content: ''
    transform: translateY(-50%)

.post-time
  position: absolute
  top: calc(50%)
  left: -140px
  max-width: 200px
  transform: translateX(-100%) translateY(-50%)
</style>
